:root {
  --branding-color: #df5a02;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Montserrat rev=1", sans-serif;
  --default-font-family: "Roboto Slab rev=1", monospace;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#navbarNav {
  justify-content: right;
}
.back-video {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
hero {
  width: 100%;
  height: 0vh;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 1.5;
  color: var(--branding-color);
}

h2 {
  font-size: 34px;
  font-weight: 800;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
a {
  box-shadow: var(--box-shadow);
}

.hero {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 139px 20px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5;
  font-size: 64px;
  color: var(--secondary-color);
}
.hero p {
  color: var(--secondary-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

#contact {
  text-align: center;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
}
.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 38px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}
.content li {
  list-style: none;
  margin: 10px auto;
}
.content img {
  width: 300px;
}

.content {
  margin: 30px;
  text-align: center;
}
.project-desciption {
  padding: 0;
  text-align: center;
}
#portrait {
  border-radius: 50%;
}
.background-image {
  position: absolute;
  min-width: 1000px;
  margin: 0px auto;
  padding: 0px auto;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
